<ion-view title="Home" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="home-card22">
      <ion-item class="item-thumbnail-left balanced" id="home-list-item6">
        <img src="img/UWfdHGHRXy06cZH4uyHl_smiley.png">
        <h2balanced>Hey there User!
          <p style="white-space:normal;">Hope you're doing good! Stay safe and keep smiling! </p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-icon-left assertive" id="home-list-item7">
        <i class="icon ion-alert-circled"></i>Alerts Reported : 10
      </ion-item>
    </div>
    <div class="list card" id="home-card21">
      <ion-item class="item-icon-left  bgC" id="home-list-item4">
        <i class="icon ion-alert"></i>Post Emergency
      </ion-item>
      <div class="item item-body" id="home-list-item-container2">
        <button id="home-button11" class="button button-assertive  button-block">Tap me!</button>
      </div>
    </div>
  </ion-content>
</ion-view>
